.footer {
  background-color: var(--clr-dark);
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

h3 {
  color: white;
}

.ft-info {
  width: 70%;
}

.footer-info {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.footer-icon {
  padding-left: 10px;
  padding-right: 10px;
}
