.logo {
  height: 50px;
  padding-left: 20px;
}

.Navbar {
  background-color: var(--clr-dark);
  width: 100%;
  height: 80px;
  display: flex;
}

.leftSide {
  flex: 50%;
}

.leftSide img {
  padding: 10px;
}

.rightSide {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  max-height: 80px;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding-right: 20px;
  font-weight: 100;
}

.links a:hover {
  font-weight: 300;
}

#hidden {
  display: flex;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 850px) {
  .Navbar .rightSide .links a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .hamburger {
    display: flex;
    width: 40px;
    margin-right: 20px;
  }

  .links {
    display: none;
  }

  #hidden {
    position: absolute;
    right: 0px;
    top: 80px;
    max-height: 320px;
    width: 100%;
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hidden a {
    margin: 10px;
    font-size: 25px;
  }

  .logo {
    margin-top: 0px;
  }
}
